/* Main container */
.comAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #202020;
  color: #ccc;
  font-family: Arial, sans-serif;
}

/* Profile header */
.profile-header {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;
  gap: 10px;
  font-weight: 600;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

/* Profile content */
.profile-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
}

/* Profile image */
.profile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rofile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--theme);
}

/* Profile details */
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Profile field */
.profile-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.field-label {
  font-size: 12px;
  color: #888;
}

.field-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
  background: #d3cbcb;
  border: 1px solid #4e4d4d;
}

.field-input:focus {
  outline: none;
  border-color: var(--theme);
}

.field-input::placeholder {
  color: #161616;
}

.field-value {
  background: #4e4d4d;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

/* Save button */
.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme);
  padding: 10px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
}

.paske {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #c2b9b9;
}

.paske:hover {
  color: #fff;
  cursor: pointer;
}


/* Media queries for responsiveness */
@media (min-width: 600px) {
  .profile-content {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }

  .profile-image {
    margin-top: 0;
    margin-left: 20px;
  }

  .rofile-image {
    margin-top: 0;
    margin-left: 20px;
    display: none;
  }

  .profile-details {
    width: calc(100% - 140px); /* Adjust to account for image width + margin */
  }
}

@media screen and (max-width: 600px) {
  .profile-image {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .profile-header {
    font-size: 20px;
  }
  .profile-content {
    background: none;
    padding: 0;
  }
}